* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #BA8FBA;
}
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form label{
    font-family: Helvetica;
    font-size: 16px;
    font-weight: bold;
    color: #603A75; 
}
header{
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #fffeb7;
    border-radius: 0 25px 0 25px;
}
.container input[type=text], input[type=tel],select, textarea {
    padding: 12px;
    border: 1px solid #603A75;
    border-radius: 4px; 
    margin-bottom: 16px; 
    resize: none;
    width: 600px;
    height: 60px;
    font-family: Helvetica;
    font-size: 18px;
}
input[type=submit] {
    font-family: Helvetica;
    font-size: 18px;
    background-color: #603A75;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease, transform 0.3s ease, font-weight 0.3s ease, font-family 0.3s ease, font-size 0.3s ease;
}

input[type=submit]:hover {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 18px;
    background-color: #946aaa;
    transform: scale(1.015);
}


.container {
    background-color: white;
    width: max-content;
    height: max-content;
    margin-top: 30px;
    margin-right: 30px;
    margin-left: auto;
    margin-bottom: 100px;
    align-items: center;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #575757;
}
.background-image {
    position: absolute;
    top: 15%;
    left: 10%;
    opacity: 0.7;
    width: 750px;
    height: auto;
    z-index: -2;
}

.container-img {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: -2;
}

.titulo {
    position: absolute;
    top: 130px; 
    left: 120px; 
    color: white;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 75px;
    text-shadow:
        -1px -1px 0 #946aaa,
        1px -1px 0 #946aaa,
        -1px 1px 0 #946aaa,
        1px 1px 0 #946aaa;
}

.descrição {
    position: absolute;
    top: 220px; 
    left: 120px; 
    color: white;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 35px;
    text-shadow:
        -1px -1px 0 #946aaa,
        1px -1px 0 #946aaa,
        -1px 1px 0 #946aaa,
        1px 1px 0 #946aaa;
    max-width: 500px;
    margin-top: 5px;
}
.icones {
    position: fixed; 
    bottom: 10px; 
    left: 10px; 
    display: flex;
    gap: 10px;
    z-index: 10;
}
.fa-instagram{
    background: linear-gradient(45deg, #FECC69, #F9772B, #D62F82, #AD35AE, #4F63D1);
    color: white;
}
.fa {
    padding: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    transition: 0.3s ease, transform 0.3s ease;
    box-shadow: 1px 1px 3px #000000;
}
.fa:hover {
    transform: scale(1.08);
}
.fa-whatsapp{
    background: #0cbb00;
    color:white;
}
.fa-facebook{
    background: #0C70F2;
    color:white;
}