/* css somente para melhor analise da pagina */
/* mudar todas as fontas para uma mais bonita e de acordo com oq o texto deseja comunicar */
/* resolver a questão do redirecionamento na pagina */
/* cores e fontes deixar com o pedro que conhece dessa area melhor */

body{
    background-color: #EDEDED;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #fffeb7;
    border-radius: 0 25px 0 25px;
}

header .logonavbar img{
    height: 15%; width: 15%;
    border-radius: 100px;
}

header .namenavbar h1{
    color: #171717;
}

header nav a{
    color: #171717;
    margin: 0 10px;
}

header nav a:hover{
    color: #171717;
}


.box1{
    display: flex;
    align-items: center;
}

.box1 h1{
    color: #901d9b;
    font-size: 100px;
    margin-left: 5%;
    margin-right: 10%;
}

.box1 img{
    border-radius: 40px;
}

.seta img{
    height: 50px;
    width: 50px;
    align-items: center;
    margin-bottom: 10%;
    margin-left: 50%;
    margin-right: 50%;
}