body{
    background-color: #EDEDED;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #fffeb7;
    border-radius: 0 25px 0 25px;
}

header .logonavbar img{
    height: 15%; width: 15%;
    border-radius: 100px;
}

header .namenavbar h1{
    color: #171717;
}

header nav a{
    color: #171717;
    margin: 0 10px;
}

header nav a:hover{
    color: #171717;
}