body{
    background-color: #EDEDED;
}
form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
header{
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #fffeb7;
    border-radius: 0 25px 0 25px;
}
input[type=text]{
    width: 400px;
    height: 60px;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 15px;
}

select{
    width: 400px;
    height: 60px;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 15px;
}

input[type=tel]{
    width: 400px;
    height: 60px;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 15px;
}
textarea {
    width: 400px;
    height: 120px;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 15px;
    resize: none;
}

input[type=submit]{
    background-color: #FEF977;
    border-radius: 6px;
    border:none;
    padding: 8px 12px;
    cursor: pointer;
}

input[type=submit]:hover{
    background-color: #fffdc2;
    transform: scale(1.05);
    transition: background-color 0.3s ease, transform 0.3s ease;
}


.container {
    position: relative;
    z-index: 2;
    border-radius: 5px;
    background-color: #BA8FBA;
    padding: 20px;
    width: max-content;
    margin: 0 auto;
    border-width: 1px;
    border-style: solid;
    border-color: #603A75;
    box-shadow: 2px 2px #5d5d5d;

    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 15px;

}
.fa-instagram{
    background: #125688;
    color:white;
}
.fa {
    padding: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    width: 30px
  }
.fa-whatsapp{
    background: #0cbb00;
    color:white;
}
.fa-facebook{
    background: #0800ec;
    color:white;
}